:root {
  --primary: #DC2626;
  --secondary: #991B1B;
  --accent: #F87171;
  --dark: #111827;
  --light: #F3F4F6;
  --text: #F9FAFB;
  --text-secondary: #9CA3AF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--dark);
  color: var(--text);
}

.navbar-brand{
    color: #D1D5DB;
    font-size: 1rem;
    font-weight: 500;
    transition: none;
}

.custom-navbar .nav-link {
  color: #D1D5DB;
  font-size: 1rem;
  font-weight: 500;
  transition: none;
}

.custom-navbar .nav-link.active {
  color: #DC2626;
}


.bd-title{
    background-color: var(--dark);
}

.bd-title h1{
    text-align: center;
    padding: 2%;
}

.bd-title .bd-title-content{
    text-align: center;
    border: solid var(--dark);
    padding: 2%;
    border-radius: 20px;
}

.bd-content {
    padding: 2%;
}

.bd-content h1{
    text-align: center;
    padding: 2%;
}

.bd-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: var(--dark);
}

.bd-content-container iframe{
    width: 640px;
    height: 360px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
}

.bd-content-container-text{
    height: 300px;
    text-align: right;
    background-color: var(--text);
}

.bd-content-container-text p{
    width: 100%;
    height: 100%;
    background-color: var(--dark);
}

.bd-content-video{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bd-content-video iframe{
    width: 850px;
    height: 480px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
}